* {
    margin: 0;
    padding: 0;
}

#canvasContainer {
    background-color: black;
    width: 600px;
    height: 600px;
    padding: 30px;
    display: block;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
}

#menuOptions {
    width: 600px;
    display: block;
    margin: auto;
}