* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #14213d;
}

#mainHeading {
  font-family: "VT323", monospace;
  color: #fca311;
  font-size: 86px;
  text-align: center;
  margin-top: 30px;
}

#canvasContainer {
  width: 600px;
  height: 600px;
  display: block;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(3, auto);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#menuOptions {
  width: 600px;
  margin: auto;
}

#topRow {
  display: flex;
  justify-content: space-between;
}

input[type="color"] {
  height: 50px;
  width: 450px;
  opacity: 0;
}

input[type="color"]:hover {
  cursor: pointer;
}

#menuFlexContainer {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}

#colorBtn {
  display: block;
  width: 475px;
}

button {
  height: 50px;
  width: 100px;
  border: none;
  border-radius: 2px;
  background-color: #fca311;
  color: #14213d;
  font-family: "VT323", monospace;
  font-size: 24px;
}

button:hover {
  background-color: #fca211d3;
  cursor: pointer;
}
